# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

# VS Code
.vscode/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# OS
.DS_Store
Thumbs.db
